main {
  min-height: 85vh;
}
.mainContainer {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h4 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
